{% extends 'base.html' %}

{% block title %}
Admin Panel
{% endblock %}

{% block content %}

<div class="card">

    <h1>Admin Panel</h1>
    <div style="display: flex; gap: 10px;">
    <a href="{% url 'create_user' %}">
        <button class="btn-create">CreateUser</button>
    </a>

    <a href="{% url 'home' %}">
        <button class="btn-update">My profile</button>
    </a>
    </div>

    {% for user in users %}
        <div class="card">

            {% if user.picture %}
                <img src="{{ user.picture.url }}" width="150">
            {% endif %}

            <h2>{{ user.first_name }} {{ user.last_name }}</h2>

            <br>

            <a href="{% url 'user_view' user.slug %}">
                <button class="btn-view">View</button>
            </a>

            <a href="{% url 'update_user' user.slug %}">
                <button class="btn-update">Update</button>
            </a>

            <a href="{% url 'delete_user' user.slug %}">
                <button class="btn-delete">Delete</button>
            </a>

        </div>
    {% endfor %}

</div>

{% endblock %}

