

{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="card">
    <div style="display: flex; gap: 10px;">
    <h1>Xush kelibsiz</h1>
    {% if user.is_superuser %}
        <h1>Admin!</h1>
    {% endif %}
    </div>
    <br>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <br>
    

    {% if user.is_authenticated %}

        {% if user.picture %}
            <img src="{{ user.picture.url }}" width="150">
            <p>{{user.email}}</p>
            <br><br>
            

        {% endif %}

        <br>

        <a href="{% url 'home' %}">
            <button class="btn-view">
                Profile
            </button>
        </a>

        <div style="display:inline-block; gap: 10px;">
            <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
                <button class="btn-update" type="submit">Logout</button>
            </form>
        </div>

        <a href="{% url 'post_list' %}">
                <button class="btn-delete">
                    Barcha postlar
                </button>
            </a>

        {% if user.is_superuser %}
            <a href="{% url 'admin_panel' %}">
                <button class="btn-create">
                    Users List
                </button>
            </a>

            <a href="{% url 'admin' %}">
                <button class="btn-view ">
                    Admin panel
                </button>
            </a>
        {% endif %}


</div>

    {% endif %}


{% endblock %}