

{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="card">

    <h1>Xush kelibsiz</h1>
    <br>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <br>

    {% if user.is_authenticated %}

        {% if user.picture %}
            <img src="{{ user.picture.url }}" width="150">
            <p>{{user.email}}</p>
            <br><br>
            

        {% endif %}

        <br>

        <a href="{% url 'home' %}">
            <button class="btn-view">
                Profile
            </button>
        </a>

        <a href="{% url 'logout' %}">
            <button class="btn-delete" type="submit">
                Logout
            </button>
        </a>

        

    {% else %}

        <a href="{% url 'login' %}">
            <button class="btn-view" type="submit">
                Login
            </button>
        </a>

        <a href="{% url 'register' %}">
            <button class="btn-create">
                Register
            </button>
        </a>

    {% endif %}

</div>

{% endblock %}