{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<h1>Profile</h1>

{% if user.picture %}
<img src="{{ user.picture.url }}" width="120">
{% endif %}

<p><b>Ism:</b> {{ user.first_name }}</p>
<p><b>Familiya:</b> {{ user.last_name }}</p>
<p><b>Email:</b> {{ user.email }}</p>
<p><b>Telefon:</b> {{ user.phone_number }}</p>
<p><b>Slug:</b> {{ user.slug }}</p>
<p><b>Active:</b> {% if user.is_active %}Ha{% else %}Yo'q{% endif %}</p>
<p><b>Staff:</b> {% if user.is_staff %}Ha{% else %}Yo'q{% endif %}</p>
<p><b>Superuser:</b> {% if user.is_superuser %}Ha{% else %}Yo'q{% endif %}</p>

{% if profile.bio %}
<p><b>Bio:</b> {{ profile.bio }}</p>
{% endif %}

{% if profile.website %}
<p><b>Website:</b> <a href="{{ profile.website }}" >{{ profile.website }}</a></p>
{% endif %}

<br>
<div style="display:inline-block; gap: 10px;">
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button class="btn-update" type="submit">Logout</button>
    </form>
</div>

<a href="{% url 'profile' %}">
    <button class="btn-delete" type="button">Orqaga</button>
</a>

<a href="{% url 'update_user' user.slug %}">
    <button class="btn-create" type="button">Update</button>
</a>

<a href="{% url 'delete_account' %}">
    <button class="btn-view" type="button">Delete Account</button>
</a>

{% endblock %}